<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="lista.component.css">
  </head>

  <body>



    <div id="contenedorPersonas">
      
      <div id="personas">
        <h1>Personas {{contador}}</h1>
      </div>

      <div id="boton">
        <button nz-button nzType="primary" (click)="add(true, {})">Agregar </button>
        <button nz-button nzType="primary" (click)="add2()">+1 </button>
      </div>

    </div>

    <br><br>

    <nz-table #basicTable [nzData]="personas">
      <thead>
        <tr>
          <th>Key</th>
          <th>Name</th>
          <th>Age</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of personas">
          <td>{{ persona.key }}</td>
          <td>{{ persona.name }}</td>
          <td>{{ persona.age }}</td>
          <td>{{ persona.address }}</td>
          <td>
            <a (click)="add(false, persona)">Editar</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a (click)="eliminar2(persona.key)">Eliminar</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a [routerLink]="['/mascotas', persona.key]">mascota</a>
            
          </td>
        </tr>
      </tbody>
    </nz-table>
  </body>

</html>

